* {
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}
.main {
  display: flex;
  width: 100vw;
  height: 100vh;
}
.header {
  display: flex;
  justify-content: space-between;
  height: 12em;
  background-color: white;
}
.header img {
  margin-top: 1em;
  align-self: flex-start;
}
.saldo {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 0em 4em 1em 1em;
  margin: 4em;
  background-color: #374952;
  color: white;
  border-radius: 8px;
  font-size: 14px;
  box-shadow: 0px 4px 8px 2px rgba(0, 0, 0, 0.1);
}
.cifrao {
  font-weight: bold;
  margin: 0em 1em;
}
.saldo > span {
  margin-top: 0.25em;
  font-weight: 600;
  font-size: 20px;
}
.busca-listar-cobranca {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin: 4em 4em 1em 4em;
}
.botao-listar-cobranca {
  margin-top: 0.5em;
  height: 2.95em;
  border-radius: 8px;
  border: none;
  background-color: #374952;
  color: white;
  font-weight: bold;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  min-width: 9em;
  margin-right: 1em;
}
.tabela-listar-cliente thead {
  background-color: #9dbbc3;
  color: white;
  font-size: 14px;
}
.tabela-body {
  margin-top: 10px;
}
.tabela-listar-cliente tr {
  max-width: 75vw;
}
.tabela-listar-cliente tbody > tr {
  font-size: 14px;
  background-color: rgba(255, 255, 255, 0.932);
}
.tabela-listar-cliente {
  margin: 3em;
  border-collapse: collapse;
  text-align: start;
}
.tabela-listar-cliente td,
.tabela-listar-cliente th {
  height: 2.5em;
  padding: 0.5em 4.45vw 0em 1em;
  border: none;
}
.tabela-listar-cliente td:first-child,
.tabela-listar-cliente th:first-child {
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
}
.tabela-listar-cliente td:last-child,
.tabela-listar-cliente th:last-child {
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
}
.conteudo {
  background-color: #f7f7f7;
  height: 90vh;
  width: 85vw;
}

.perfil {
  margin-right: 5.5em;
}
.mudar-pagina {
  display: flex;
  justify-content: flex-end;
  margin: 3em 5em;
}
.pagina {
  padding-right: 1em;
  font-size: 12px;
  color: #667e87;
  letter-spacing: 0.25px;
  text-decoration: none;
}
.tabela-cliente-itens {
  display: flex;
  flex-direction: column;
  padding-bottom: 1em;
}
.tabela-cliente-itens td {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.tabela-cliente-itens td img {
  margin-right: 0.5em;
}
.tabela-cliente-nome {
  font-weight: bold;
}
.adicionar-cliente {
  margin-right: 1em;
  background-color: white;
  color: #da0175;
  border: 1px solid #da0175;
  padding: 0.75em 3.95em;
  border-radius: 20px;
  text-align: center;
  font-size: 14px;
  font-weight: 600;
  margin-top: 1em;
}
.pesquisa-e-adicionar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-left: 3em;
}
