.menuLateral {
	background-color: #263238;
	padding: 2em 3em;
	padding-bottom: 25em;
	min-height: 100%;
  }
  .menuLateral button {
	background-color: #da0175;
	padding: 0.2em 6em;
	color: white;
	border: 0;
	border-radius: 20px;
	justify-content: center;
	margin-top: 15em;
  }
  .menuLateral a {
	display: flex;
	font-size: 700;
	color: #ffffff;
	text-decoration: none;
	/* height: 100%; */
  }