.busca-listar-cobranca {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin: 4em;
  /* max-width: 10em; */
}
.botao-listar-cobranca {
  height: 3.2em;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  border: none;
  background-color: #374952;
  color: white;
  font-weight: bold;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  min-width: 9em;
  margin-right: 1em;
  margin-left: -1em;
}
thead {
  background-color: #9dbbc3;
  color: white;
  font-size: 14px;
}
.tabela-body {
  margin-top: 10px;
}
tr {
  max-width: 75vw;
}
tbody > tr {
  font-size: 14px;
  background-color: rgba(255, 255, 255, 0.932);
}
table {
  margin: 3em;
  border-collapse: collapse;
}
td,
th {
  height: 2.5em;
  padding: 1em 4.45vw;
  border: none;
}
td:first-child,
th:first-child {
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
}
td:last-child,
th:last-child {
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
}
.mudar-pagina {
  display: flex;
  justify-content: flex-end;
  margin: 3em 5em;
}
.pagina {
  padding-right: 1em;
  font-size: 12px;
  color: #667e87;
  letter-spacing: 0.25px;
  text-decoration: none;
}
.input-busca {
  padding: 0.75em 1.25em;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
  border: 1px solid #374952;
  max-width: 56.25em;
  min-width: 25em;
}
.status {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  margin-top: 1em;
}
